.venv
.idea
.env
.ipynb_checkpoints
Lab 01/.ipynb_checkpoints
Lab 02/.ipynb_checkpoints
Lab 03/.ipynb_checkpoints
Lab 04/.ipynb_checkpoints
Lab 05/.ipynb_checkpoints
Lab 06/.ipynb_checkpoints
Lab 07/.ipynb_checkpoints
Lab 08/.ipynb_checkpoints
Lab 09/.ipynb_checkpoints
Lab 10/.ipynb_checkpoints
Lab 11/.ipynb_checkpoints